<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.datasource.dao.test2.PersonMapper" >
    <resultMap id="BaseResultMap" type="com.example.datasource.domain.Person" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="login_hpone" property="loginHpone" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        user_id,login_hpone
    </sql>

    <select id="getUserById" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List" />
        from person_t
        where user_id = #{userId,jdbcType=VARCHAR}

    </select>
</mapper>